[Unit]
Description=Thurarch Unattended Installer
After=network-online.target pacman-init.service
Wants=network-online.target
Requires=pacman-init.service
ConditionPathExists=/root/install.sh
Conflicts=udisks2.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=infinity
ExecStart=/root/install.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
